/* Font sizes */
$font-s: 10px;
$font-base: 14px;
$font-m: 20px;
$font-l: 28px;
$font-xl: 40px;
$font-xxl: 60px;

/* Colors */
$white: #ffffff;
$grey-100: #e6e6e6;
$grey-200: #7b7b7b;
$grey-300: #393939;
$purple: #5979fd;
$red: #ff0000;
$orange: #ffcc00;
$green: #00ff00;

/* Screen sizes */
$screen-size-l: 800px;
