/* Font sizes */
$font-s: 18px;
$font-base: 22px;
$font-m: 26px;
$font-l: 28px;
$font-xl: 32px;
$font-xxl: 36px;

/* Colors */
$white: #ffffff;
$white-100: rgba(255, 255, 255, 0.2);
$white-200: rgba(255, 255, 255, 0.4);
$grey-100: #e6e6e6;
$grey-200: #7b7b7b;
$grey-300: #393939;
$purple-100: #7474bf;
$purple-200: #5979fd;
$blue-100: #4b6cb7;
$blue-200: #314876;
$blue-300: #348ac7;
$blue-400: #182848;
$red: #ff0000;
$orange: #ffcc00;
$green: #00e100;
