@import 'src/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  color: $white;
  font-size: $font-base;
  font-weight: 800;
}

.answersContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
}

.question {
  color: #fff;
  font-size: $font-m;
}
