@import 'src/styles/variables';

.counter {
  text-align: center;
  margin: 20px 0 0;
}

.numberOfQuestion {
  font-weight: 700;
}

.timerContainer {
  border: 1px solid $blue-200;
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(to right, $blue-100, $white-200, $white-100);
}
