@import 'src/styles/variables';

$image-horizontal-border: 9%;
$image-vertical-border: 10.2%;

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: linear-gradient(to bottom, $purple-100, $blue-300);
}

.imageContainer {
  position: relative;
}

.image {
  height: 90vh;
}

.quiz {
  position: absolute;
  top: $image-vertical-border;
  left: $image-horizontal-border;

  width: calc(100% - $image-horizontal-border * 2);
  height: calc(100% - $image-vertical-border * 2);

  padding: 30px;
  background: linear-gradient(to right, $blue-100, $blue-400); // todo: add to colors
}
