@import 'src/styles/variables';

$image-horizontal-border: 78px;
$image-vertical-border: 66px;

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.imageContainer {
  position: relative;
}

.image {
  height: 90vh;
}

.quiz {
  position: absolute;
  top: $image-vertical-border;
  left: $image-horizontal-border;

  width: calc(100% - $image-horizontal-border * 2);
  height: calc(100% - $image-vertical-border * 2);

  padding: 30px;
}
