@import 'src/styles/variables';

.answer {
  display: flex;

  color: $grey-200;
  background-color: $grey-100;
  font-size: $font-l;

  padding: 10px;
  border-radius: 6px;
}

.isSelected {
  background-color: $purple;
}
